/* ---- HYDRATATION-PAGE ------*/
#hydratation{
  height: 100vh;
  background-image: url('img/fond-hydratation.jpg');
  background-size: cover;
  background-position: center;
}

.eau{

}

.hydratation-items{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 95%;
}

.hydratation-text{
  position: relative;
}

.bouton-hydratation{
  width: 121px;
  height: 31px;
  flex-shrink: 0;
  background-color: #0171B9;
  border-radius: 33px;
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.bouton-hydratation a{
  font-family: Lora;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;
}

.icone-clignotant {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 0;
  font-size: 18px;
  color: #000;
}

.fond-icone {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #85cfe9;
  opacity: 0;
  z-index: 0;
}

.icone-texte {
  z-index: 1;
}

.clignotant {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #85cfe9;
  border: 1px solid #85cfe9;
  display: none; /* Cacher par défaut */
  z-index: 2;
}

.opacity-visible {
  opacity: 1;
}

.opacity-hidden {
  opacity: 0;
}


.details-container {
  width: 271px;
  height: 59px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Lora;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: none; /* Masquer les détails par défaut */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 998;
}


.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  bottom: 40px;
}

.elementsHaut{
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}

.elementsHaut img{
  max-width: 90%;
  height: auto;
  cursor: pointer;
}

.elementsBas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 90%;
}

.elementsBas img{
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.jauge-text-dessous{
  height: 20px;
}

.categoriesHaut{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.categoriesBas{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.case {
  width: 110px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 28px;
  background: #FFF;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.case h2{
  color: #000;
  text-align: center;
  font-family: Lora;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.boisson {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -10px;
}

.fruit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -10px;
}

.laitier {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -10px;
}

.cerealier {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -10px;
}

.jauge {
  position: relative;
  bottom: 30px;
  width: 60%;
  margin: 0 auto;
  background-color: #FFF;
  height: 50px;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 5px;
}



.jauge-remplissage {
  background-color: #85cfe9;
  height: 100%;
}

.pourcentage-remplissage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  text-align: center;
  font-family: Lora;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
  z-index: 1;

}



#messageBox {
  display: none; /* Masquer les détails par défaut */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 999;
}

#messageBox p{
  height: 36px;
  width: 270px;
  padding: 0px;
}

#messageBox img{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

#messageBox h1{
  width: 121px;
  height: 31px;
  background-color: #0171B9;
  border-radius: 33px;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  line-height: 31px; /* Ajout de la ligne pour centrer le texte verticalement */
  cursor: pointer;
  margin: 10px auto;
}

#messageBox h2{
  width: 121px;
  height: 31px;
  background-color: #0171B9;
  border-radius: 33px;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  line-height: 31px; /* Ajout de la ligne pour centrer le texte verticalement */
  cursor: pointer;
  margin: 10px auto;
}

.hydratation-text-infos{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hydratation-text-infos p{
  height:240px;
  text-align: justify;
}



.hydratation-text-infos2{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hydratation-text-infos2 p{
  height:300px;
  text-align: justify;
}

.hydratation-text-infos2 h2{
  width:300px;
}
